<div class="containerLogin">
    <a href="https://github.com/Jmoreno1988/2mean"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

    <div class="title">{{titleApp}}</div>
    <div class="subTitle">{{subTitle}}</div>

    <div class="login-card" [ngClass] = "{openLoginForm: isRegisterMode === true}">
        <div class="wrapperInputs">
            <input type="text" name="lname" placeholder="Name" [(ngModel)]="userName"> <br>
            <input type="password" name="lname" placeholder="Password" [(ngModel)]="userPassword">
        </div>
        <div (click)="login()" class="button"> Log in </div>

        <div (click)="openRegisterForm()" class="createAccount"> Or <br> Create an <span class="link">account</span></div>
    </div>
    
    <div class="login-card formRegister" [ngClass] = "{openRegisterForm: isRegisterMode === true}">
        <div class="wrapperInputs">
            <input type="text" name="lname" placeholder="Name"> <br>
            <input type="password" name="lname" placeholder="Password"> <br>
             <input type="password" name="lname" placeholder="Re-Password"> <br>
             <input type="text" name="lname" placeholder="Email">
        </div>
        <div class="loader">Loading...</div>
        <div (click)="register()" class="button"> Create account </div>
        <div (click)="closeRegisterForm()" class="createAccount"> <span class="link">Cancel</span></div>
    </div>
    
    <div class="footer-text"> Designed by 2MEAN team </div>
</div>