.task-item {
	transition: all .5s ease;
}

.card {
	width:  98%;
	max-width: 700px;
	height: 100px;
	background-color: white;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	margin: 10px auto;
	overflow: hidden;
	transition: all .5s ease;
	cursor: pointer;
}
			
.card .title {
	font-size: 20px;
	font-weight: 400;
	letter-spacing: -.012em;
	margin-top:10px;
	margin-bottom: 10px;
}

.card p {
	color: #757575;
}

.card .header-card {
	width: 100%;
	height: 10px;
}

.card .content-card {
	padding: 5px 10px 5px 10px;
}

.content-body {
    width: 100%;
    height: 1em;
    border: 0px solid;
    text-decoration: none;
    resize: none;
    font-family: 'Roboto', 'Noto', sans-serif;
    font-size: 16px;
    text-align: justify;
    color: #757575;
	overflow: hidden;
	max-height: 150px;
 	text-overflow: ellipsis;
	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	-webkit-box-orient: vertical;
}

.button-floating-action {
	position: absolute;
	bottom: 30px;
	right: 30px;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background: tomato;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
	cursor: pointer;
}

.center-img{
	margin-top: 16px;
	margin-left: 16px;
}

.date-card {
	color: #757575;
	float: left;
	font-size: 90%;
}

.priority-card {
	float: right;
}

.card-box {
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 4px;
}

.content-toolBox{
    height: 24px;
    float: right;
    margin-top: 10px;
}

.content-toolBox-icon {
	width: 24px;
	height: 24px;
    fill: red!important;
}

input {
    background-color: transparent;
    border: 0px solid;
}

.priority-card {
    padding: 5px;
    padding-left: 10px;
}

.header-toolbox {
	float: right;
}

.header-icon-menu {
	position: absolute;
	margin: 20px 30px 20px 30px; 
	cursor: pointer;
	visibility: hidden;
}

.header-title {
	margin-left: 75px!important;
}

.header-fix-icon {
	position: absolute;
	margin: 20px 20px 20px -25px; 
	cursor: pointer;
}

.header-fix-icon2 {
	padding-top: 10px; 
	cursor: pointer;
}

.fix-arrow {
	margin-top: -10px;
}

.tagSaving {
	font-size: 80%;
	visibility: hidden;
}

.input-search {
	border-bottom: 2px solid white;
	color: white;
	font-size: 16px;
}

/* Responsive */
@media (max-width: 980px) {
	.container {
		margin-left: 0px;
	}

	.header-icon-menu {
		visibility: visible;
	}

	.menu-lateral {
		display: none;
	}
}
/* End Responsive */

/* Transitions/Animations */
.selectTask { 
    height: 255px;
}

.selectTask-body {
    -webkit-line-clamp: 200000!important; 
    overflow-y:auto;
    height: 10em;
    margin-bottom: 10px;
}

.saving {
	visibility: visible;
}

.removeCard {
	transform: translate(100%, 0);
	opacity: 0;
}
/* End Transitions/Animations */